@font-face {
  font-family: 'VisitDenmarkRegular';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/VisitDenmark-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'VisitDenmarkMedium';
  font-style: normal;
  font-weight: 600;
  src: url(./assets/fonts/VisitDenmark-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'VisitDenmarkBold';
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/VisitDenmark-Bold.otf) format('opentype');
}

:root {
  font-family: 'VisitDenmarkRegular', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
